html {
    position: relative;
    min-height: 100%;
}
body{
  background-color: #2a3535;
  width:100%;
  color:white;
}
.header{
    text-align: center;
    background-image: url('./images/singularity_logo_cropped.png');
}
.headerlogo {
    position: relative;
    text-align: center;
    display: inline-block;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
.card{
    background-color: #2a3535;
    margin-bottom:5px;
    border:none;
    
}


.buildtitle{
    background-color: #222222;
    border-radius: 15px !important;
    padding-bottom: 0px;
   
    
}
.buildnumber {
    color:#cccccc;
    font-weight: bold;
    font-size: 16pt;
}
.changelogtoggle {
    margin-top:12px;
}
.croppedheader{
    background-image: url('./images/singularity_logo_cropped.png');
    margin-left:-50px;
}
.alphatitle{
    text-shadow: 10px 10px 5px #000000;
}

.logo_os img {
    margin-right:10px;
    margin-bottom: 5px;
    height:40px;
    margin-top:10px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #2a3535;
    color: #bbbbbb;
    font-size:10pt;
}
#footer a{
    margin-right:10px;
}
.links {
    background-color: #2f3535;
}

.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
    
}
.pagination>li>a{
    background-color:#2f3535;
    color:white;
}
.page-number {
    font-size:10pt;
    margin: 5px;
}
.page-link {
    border:none;
}
.colos {
    background-color:#2f3535;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 1pt;
    margin-left:10px;
}
.colos p{
    text-shadow: 10px 10px 5px #000000;
}
#channelselector{
    background-color:#2f3535;
    color:white;
    margin-left:5px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}
.pagination_drop
{
    width:60px;
    height:40px;
    border:none;
    margin-top:-7.5px;
}
.channel_border
{
border:none; //Probably could eliminate that but who cares xD
}
